---
layout: page
permalink: /categories/
title: Categories
---

<div id="posts-list">
{% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>    
    <h2>{{ category_name }}</h2>
    <ul>
      <a name="{{ category_name | slugize }}"></a>
      {% for post in site.categories[category_name] %}
      <ul>
          <a href="{{ post.url | prepend: site.baseurl }}">
            <h3 class="post-title">{{ post.title }}</h3>
          </a>
          <b>Posted on</b> {{ post.date | date: "%B %-d, %Y" }}
          {% if post.categories.size > 0 %}
              <b>Categories:</b>
              {% if site.link-categories %}
              {% for category in post.categories %}
                <a href="/category/{{ category }}">{{ category }}</a>
              {% endfor %}
              {% else %}
                {{ post.categories | join: ", " }}
              {% endif %}
          {% endif %}
          {% if post.tags.size > 0 %}
              <b>Tags:</b>
              {% if site.link-tags %}
              {% for tag in post.tags %}
                <a href="/tag/{{ tag }}">{{ tag }}</a>
              {% endfor %}
              {% else %}
                {{ post.tags | join: ", " }}
              {% endif %}
          {% endif %}
      </ul>
      {% endfor %}
    </ul>
{% endfor %}
</div>